
<body>
    <app-root></app-root>
    <div class="main_body">
        <div class="main_body_h1">
            <h1>
                Find de bedste tilbud i denne uge her
            </h1>
        </div>
        <div class="se_tilbud_button_container">
            <button type="button" class="se_tilbud_button">Se tilbud</button>
        </div>
        <div class="spotlight_containers">
            <div class="ugens_tema_container">
                <h1 class="container_h1">
                    Ugens tema
                </h1>
            </div>
            <div class="indkøbsliste_container">
                <h1 class="container_h1">
                    Indkøbsliste
                </h1>
            </div>
            <div class="opret_bruger_container">
                <h1 class="container_h1">
                    Opret bruger
                </h1>
            </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>

<style>
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    
    .main_body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #F2F9FF;
    }
    
    .spotlight_containers {
        display: flex;
        align-items: center;
        overflow-y: hidden;
        justify-content: space-around;
    }
    
    .ugens_tema_container {
        background-color: #7D91BF;
        width: 22em;
        height: 12em;
    }
    
    .indkøbsliste_container {
        background-color: #64C68E;
        width: 22em;
        height: 12em;
    }
    
    .opret_bruger_container {
        background-color: #BF887D;
        width: 22em;
        height: 12em;
    }
    
    .main_body_h1 {
        display: flex;
        justify-content: center;
    }
    
    .se_tilbud_button_container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    
    .se_tilbud_button {
        background-color: #3D80D4;
        width: 15%;
        height: 80px;
        border-radius: 50px;
    }
    
    .container_h1 {
        color: white;
        display: flex;
        justify-content: center;
        font-weight: 400;
    }
    
    .se_tilbud_button {
        font-size: 20px;
        color: white;
        font-weight: 600;
    }
</style>