<body>
    
    <div class="main_div">

    
    <div class="my_profile_info">
        
        <div class="my_profile_tabs">
            <div class="my_profile_details_tab">
                <button class="my_profile_details_tab_button" (click)="onSelect()">
                    <p class="my_profile_details_tab_button_p" [hidden]="IsHidden">
                        Min profil
                    </p>
                </button>
            </div>
         
            <div class="my_profile_carddetails_tab">
                <button class="my_profile_carddetails_tab_button">
                    <p class="my_profile_carddetails_tab_button_p">
                        Betalingsoplysninger
                    </p>
                </button>
            </div>
    
            <div class="my_profile_orderhistory_tab">
                <button class="my_profile_orderhistory_tab_button">
                    <p class="my_profile_orderhistory_tab_button_p">
                        Orderhistorik
                    </p>
                </button>
            </div>
        </div>
        <h1 class="mainh1">
            Min profil
        </h1>
        <div class="my_profile_mail">
            <h2 class="my_profile_h">
                Nuværende Email
            </h2>
            <div class="my_profile_input">
                <input class="profile_input_width" type="text" placeholder="Nuværende E-mail">
            </div>
        </div>
        <div class="my_profile_name">
            <div class="my profile name">
                <h2 class="my_profile_h">
                    Fornavn
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="Fornavn">
                </div>
            </div>
           
            <div class="my_profile_middlename">
                <h2 class="my_profile_h">
                    Mellemnavn
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="Mellemnavn">
                </div>
            </div>

            <div class="my_profile_lastname">
                <h2 class="my_profile_h">
                    Efternavn
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="Efternavn ">
                </div>
            </div>

        </div>  
        <div class="my_profile_address">
            <div class="my_profile_address_input">
                <h2 class="my_profile_h">
                    Addresse
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input_width" type="text" placeholder="Addresse">
                </div>
            </div>
           
            <div class="my_profile_middlename">
                <h2 class="my_profile_h">
                    Etage
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="Etage/Bygning">
                </div>
            </div>

        </div> 
        <div class="my_profile_postal_number">
            <div class="my profile name">
                <h2 class="my_profile_h">
                    Post nummer
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="F.eks. 2800">
                </div>
            </div>
           
            <div class="my_profile_middlename">
                <h2 class="my_profile_h">
                    By
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="Kgs. Lyngby">
                </div>
            </div>

            <div class="my_profile_lastname">
                <h2 class="my_profile_h">
                    Telefon
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="Telefonnummer ">
                </div>
            </div>
            
        </div> 
        <div class="my_profile_button">
            <button class="my_profile_button_specific">
                Gem oplysninger 
            </button>
        </div>
    </div>
        

    </div>
    
    <!-- <div class="my_profile_details">
        <h1 class="mainh1">
            Betalingsoplysninger
        </h1>
        <div class="my_profile_cardnumber">
            <h2 class="my_profile_h">
                Kortnummer
            </h2>
            <div class="my_profile_input">
                <input class="profile_input_width" type="text" placeholder="Kortnummer">
            </div>
        </div>
        <div class="my_profile_expincvr">
            <div class="my_profile_expi">
                <h2 class="my_profile_h">
                    Udløbsdato
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="f.eks 09/24">
                </div>
            </div>          
            <div class="my_profile_cvr">
                <h2 class="my_profile_h">
                    CVR
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="f.eks 035">
                </div>
            </div>
        </div> 
        <div class="my_profile_cardholder">
            <h2 class="my_profile_h">
                Kortholder
            </h2>
            <div class="my_profile_input">
                <input class="profile_input_width" type="text" placeholder="Kortholders navn">
            </div>
        </div> 
    </div> -->

</body>


<style>
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
    outline: none;
}
    body{
    margin: 0;
    overflow-x: hidden;
    background-image:url(/praeis/vegetables-752153_1920\ my\ profile\ pic.jpg)
    }
    
    .main_div{
    display: flex;
    justify-content: center;
    }
    

    .my_profile_info, .my_profile_details{
        margin-top: 5em;
        padding-top: 1em;
        width: 30vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: rgba(0,0,0,.6);
        border-radius: 20px;
        

    }
    
    
    .my_profile_h{
        color: white;
        margin-bottom: 10px;
        font-weight: 500;
    }
    .profile_input, .profile_input_width{
        margin-bottom: 2em;
    }
    
    .profile_input{
        width: 10em;
        height: 3em;
        border-radius: 10px;
        border: 1px;
        border-color: #707070;
        border-style: solid;
        display: flex;
        
        
       
    }.profile_input_width{
        width: 20em;
        height: 3em;
        border-radius: 10px;
        border: 1px;
        border-color: #707070;
        border-style: solid;
        
       
    }
    .my_profile_name, .my_profile_postal_number{
        display: flex;
        justify-content: space-between;
        padding-left: 4em;
        padding-right: 4em;
    }
    .my_profile_address{
        display: flex;
        justify-content: space-between;
        padding-left: 4em;
        padding-right: 4em;
    }
    
    .my_profile_mail{
        padding-left: 4em;
    }
    .mainh1{
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 700;
    }
    .my_profile_button{
        display: flex;
        justify-content: center;
        margin-bottom: 3em;
    }
    .my_profile_button_specific{
        background: #3D80D4;
        color: white;
        border-radius: 10px;
        height: 3em;
        width: 10em;
        font-size: 15px;
    }
    .my_profile_input input[type=text]{
        padding-left: 1em;
        color: #3D80D4;
        font-weight: 500;
        
    }

    .my_profile_expinCVR{
        display: flex;
        padding-left: 6em;
        padding-right: 6em;
    }
    .my_profile_expi{
        padding-right: 4em;
    }
    .my_profile_cardnumber, .my_profile_cardholder{
        padding-left: 6em;
    }
    .my_profile_tabs{
        display: flex;
        

    }
    .my_profile_details_tab_button, .my_profile_carddetails_tab_button, .my_profile_orderhistory_tab_button{
        background-color: white;
        display: flex;
        align-items: center;
        height: 3em;
        margin-top: 2em;
        margin-left: 3.6em;
    }
    .my_profile_details_tab_button_p, .my_profile_carddetails_tab_button_p, .my_profile_orderhistory_tab_button_p{
        padding-left: 1em;
        padding-right: 1em;
        color: #3D80D4;
    }
    
   
    
    
</style>