<body>
    
    <div class="my_profile_main">
        <h1 class="mainh1">
            Min profil
        </h1>
        <div class="my_profile_mail">
            <h2 class="my_profile_h">
                Nuværende Email
            </h2>
            <div class="my_profile_input">
                <input class="profile_input_width" type="text" placeholder="Nuværende E-mail">
            </div>
        </div>
        <div class="my_profile_name">
            <div class="my profile name">
                <h2 class="my_profile_h">
                    Fornavn
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="Fornavn">
                </div>
            </div>
           
            <div class="my_profile_middlename">
                <h2 class="my_profile_h">
                    Mellemnavn
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="Mellemnavn">
                </div>
            </div>

            <div class="my_profile_lastname">
                <h2 class="my_profile_h">
                    Efternavn
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="Efternavn ">
                </div>
            </div>

        </div>  
        <div class="my_profile_address">
            <div class="my_profile_address_input">
                <h2 class="my_profile_h">
                    Addresse
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input_width" type="text" placeholder="Addresse">
                </div>
            </div>
           
            <div class="my_profile_middlename">
                <h2 class="my_profile_h">
                    Etage/Bygning
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="Etage/Bygning">
                </div>
            </div>

        </div> 
        <div class="my_profile_postal_number">
            <div class="my profile name">
                <h2 class="my_profile_h">
                    Post nummer
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="F.eks. 2800">
                </div>
            </div>
           
            <div class="my_profile_middlename">
                <h2 class="my_profile_h">
                    By
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="Kgs. Lyngby">
                </div>
            </div>

            <div class="my_profile_lastname">
                <h2 class="my_profile_h">
                    Telefon nummer
                </h2>
                <div class="my_profile_input">
                    <input class="profile_input" type="text" placeholder="Telefon nummer ">
                </div>
            </div>

        </div> 

    </div>

</body>

<style>
    .my_profile_main{
        width: 100%;
        height: 100%;
       background:  #F2F9FF;
        
    }
    
    .my_profile_h{
        color: #3D80D4;
    }
    
    .profile_input{
        width: 30em;
        height: 4em;
        border-radius: 10px;
        display: flex;
       
    }.profile_input_width{
        width: 895px;
        height: 4em;
        border-radius: 10px;
       
    }
    .my_profile_name, .my_profile_postal_number{
        display: flex;
        justify-content: space-between;
        padding-left: 4em;
        padding-right: 4em;
    }
    .my_profile_address{
        display: flex;
        justify-content: space-between;
        padding-left: 4em;
        padding-right: 4em;
    }
    
    .my_profile_mail{
        padding-left: 4em;
    }
    
    
</style>